body {
  background-color: black;
}

.Heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    padding: 5%;
}

.ActionItemContainer {
    min-width: 200px;
    min-height: 200px;
    background-color: white;
    width: 30%;
    padding: 1%;
}

.ComingUpContainer {
    min-width: 200px;
    min-height: 200px;
    background-color: white;
    width: 30%;
    padding: 1%;
}

.LastNPostContainer {
    min-width: 200px;
    min-height: 200px;
    background-color: white;
    width: 30%;
    padding: 1%;
}

.Stuff {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.Stufff {
    text-align: center;
}